body {
  background: black;
}

#canvas1 {
  position: fixed;
}

#backgroundImage,
#playerImage,
#enemyImage {
  display: none;
}

#gameAudio {
  display: none;
}

.player-sprite {
  transform: scale(2);
}
